/* --- POZADÍ --- */

Menu {
    background-color: #333333;
    color: white;
}

/* --- TLAČÍTKA --- */

QPushButton#play_button {
    background-color: #003388;
}

QPushButton#play_button:hover {
    background-color: #0066aa;
}

QPushButton#settings_button {
    background-color: #777777;
}

QPushButton#settings_button:hover {
    background-color: #999999;
}

QDialog {
    background-color: #333333;
    color: white;
}

QLabel {
    color: white;
}

QCheckBox {
    color: white;
}

QCheckBox:unchecked {
    color: #ca100a;
}

QCheckBox::indicator:checked {
    background-color: #3d8533;
    border-color: black;
}

QCheckBox::indicator:unchecked {
    background-color: #ca100a;
    border-color: black;
}

QCheckBox::indicator:checked:hover {
    background-color: #45a049;
}

QCheckBox::indicator:unchecked:hover {
    background-color: #da190b;
}

#BtnStart {
    background-color: #3d8533;
    color: white;
}
#BtnStart:hover {
    background-color: #45a049;
}

#BtnBack {
    background-color: #ca100a;
    color: white;
}
#BtnBack:hover {
    background-color: #da190b;
}