QWidget {
    font-family: "Cambria Math", serif;
}

QPushButton {
    margin: 10px auto 10px auto;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: "Cambria Math", serif;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
}

#Title {
    font-size: 18px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

#SettingsFooter {
    font-size: 11px;
    padding: 5px;
}

QCheckBox {
    font-size: 14px;
    padding: 5px;
    spacing: 10px; /* Mezera mezi čtverečkem a textem */
}

QCheckBox::indicator {
    width: 16px;
    height: 16px;
    border: 0;
    border-radius: 8px;
}

QLineEdit {
    height: 16px;
    font-size: 15px;
    border: 1px black solid;
    border-radius: 8px;
    padding: 5px 10px;
}

#BtnStart, #BtnBack {
    font-size: 14px;
    border: none;
}

#BtnStart {
    font-weight: bold;
}

#copyright {
    font-size: 12px;
}